@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/orange";

.app,
.app_modal,
.app_drawer {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 12px;
    background: #000;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background: var(--inverted-primary-color);
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}
